:root {
  --color1: #134074;
  --color2: #13315c;
  --color3: #0b2545;
  --color4: #8da9c4;
  --color5: #eef4ed;
  --navbar-weight: 45px;
  --width-form: 360px;
  --current-font-size: 20px;
  --current-input-font-size: 14px;
}

body {
  font-family: "Archivo Narrow";
  font-size: var(--current-font-size);
  background-color: var(--color5);
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 750px) {
  :root {
    --navbar-weight: 30px;
    --width-form: 340px;
    --current-font-size: 13px;
    --current-input-font-size: 13px;
  }
  }

@media screen and (max-width: 360px) {
  :root {
    --navbar-weight: 30px;
    --width-form: 300px;
    --current-font-size: 11px;
  }
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.navbar {
  width: 100%;
  height: var(--navbar-weight);
  position: fixed;
  line-height: var(--navbar-weight);
  text-align: justify;
  background-color: var(--color4);
  padding: 10px;
  z-index: 1;
}

.navbar a:hover {
  color: var(--color1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.link-container {
  margin-right: 20px;
}

a,
h2 {
  padding-left: 10px;
  text-decoration: none;
  color: var(--color3);
  max-width: 360px;
}

.section-head {
  margin: 0;
}

.body {
  padding: calc(var(--navbar-weight) + 5px) 5px 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-data {
  width: var(--width-form);
}

.section-data {
  border: solid 2px var(--color4);
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 10px;
}

.container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
}

.input-block {
  height: 40px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.input-label {
  width: 50%;
  padding-right: 10px;
}

.select-option {
  width: 100%;
  margin: 5px 0;
  height: 25px;
}

.input-option {
  display: flex;
  width: calc(100% - 14px);
  height: 21px;
  padding: 0 5px;
  margin: 5px 0;
}

.input-option, .select-option {
  font-size: var(--current-input-font-size);
}

footer {
  background-color: var(--color4);
}

.end-logo {
  margin: 5px;
}
