:root {
  --color1: #134074;
  --color2: #13315c;
  --color3: #0b2545;
  --color4: #8da9c4;
  --color5: #eef4ed;
  --navbar-weight: 45px;
  --width-form: 360px;
  --width-text-desc: 880px;
  --current-font-size: 20px;
}

body {
  font-family: "Archivo Narrow";
  font-size: var(--current-font-size);
  background-color: var(--color5);
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  :root {
    --navbar-weight: 30px;
    --width-form: 340px;
    --width-text-desc: 400px;
    --current-font-size: 13px;
  }
  }

@media screen and (max-width: 360px) {
  :root {
    --navbar-weight: 30px;
    --width-form: 300px;
    --width-text-desc: 335px;
    --current-font-size: 11px;
  }
  }

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  padding-right: 30px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color3);
}

.dd-button:hover {
  background-color: var(--color4);
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid var(--color3);
  border-radius: 4px;
  padding: 0 5px 10px 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: var(--color5);
  list-style-type: none;
  max-height: 350px;
  overflow: auto;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  cursor: pointer;
  white-space: nowrap;
  max-height: calc(var(--current-font-size) + 10px);
}

.dd-menu li:hover {
  background-color: var(--color5);
}

.dd-menu li a {
  display: block;
}

.dd-menu li.divider{
  margin-top: 2px;
  padding: 0;
  border-bottom: 1px solid var(--color2);
}

.navbar {
  width: 100%;
  height: var(--navbar-weight);
  position: fixed;
  line-height: var(--navbar-weight);
  text-align: justify;
  background-color: var(--color4);
  padding: 10px;
  z-index: 1;
}


.navbar a:hover {
  color: var(--color1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.link-container {
  margin-right: 20px;
}

a,
h2 {
  padding-left: 10px;
  text-decoration: none;
  color: var(--color3);
  max-width: 360px;
}

h4 {
  margin-bottom: 5px;
}

.section-head {
  margin: 0;
}

.body {
  padding: var(--navbar-weight) 5px 10px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
}

.top-table {
  padding-top: 15px;
}

table, .center-item {
  text-align: center;
}

.left-item {
  text-align: left;
}

.right-item {
  text-align: right;
}

th:not(.wide-title) {
  width: 100px;
}

.table-description {
  max-width: var(--width-text-desc);
}

.note {
  max-width: 360px;
}

.long-table {
  display: grid;
  grid-template-columns: 
    calc(var(--width-form)/3) 
    calc(var(--width-form)/3) 
    calc(var(--width-form)/3);
}

footer {
  background-color: var(--color4);
}

.end-logo {
  margin: 5px;
}
